<h4>Edit Customer</h4>

<div class="edit-customer-form">
  <div class="mb-3">
    <label for="customer-id">Customer Id</label>
    <input type="text" class="form-control" id="customerId" readonly />
  </div>

  <div class="mb-3">
    <label for="full-name">Full Name</label>
    <input type="text" class="form-control" id="fullName" />
  </div>

  <div class="mb-3">
    <label for="email">Email</label>
    <input type="text" class="form-control" id="email" />
  </div>

  <div class="mb-3">
    <label for="gender">Gender</label>
    <input type="text" class="form-control" id="gender" />
  </div>

  <button class="btn btn-primary" id="save-changes">Save</button>
  <button class="btn btn-primary" id="cancel-changes">Cancel Changes</button>
</div>

<div class="alert alert-success invisible mt-3" id="save-success-alert" role="alert">Changes saved!</div>
