<h4>Add a Customer</h4>

<div class="add-customer-form">
  <div class="mb-3">
    <label for="full-name">Full Name</label>
    <input type="text" class="form-control" id="fullName" />
  </div>

  <div class="mb-3">
    <label for="email">Email</label>
    <input type="text" class="form-control" id="email" />
  </div>

  <div class="mb-3">
    <label for="gender">Gender</label>
    <input type="text" class="form-control" id="gender" />
  </div>

  <button class="btn btn-primary" id="addButton">Add Customer</button>
</div>

<div class="alert alert-success invisible mt-3" id="save-success-alert" role="alert">New Customer Added!</div>
