<h4>Próximas Consultas</h4>

<div class="form-group">
  <div class="input-group mb-3">
    <input type="text" class="form-control" id="search-booking-input" placeholder="filtrar..." />
  </div>
</div>

<!-- Header -->

<table class="table table-striped table-sm">
  <thead>
    <tr>
      <th scope="col">Data</th>
      <th scope="col">Hora</th>
      <th scope="col">Nome</th>
      <th scope="col">Tipo</th>
      <th scope="col">Modalidade</th>
      <th scope="col">Valor</th>
      <th scope="col">Status</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>
  <tbody id="search-results"></tbody>
</table>

<!-- Search Result Template -->

<template id="search-template">
  <tr class="result-box">
    <th class="id" scope="row" hidden></th>
    <td class="consultationDate"></td>
    <td class="consultationTime"></td>
    <td class="fullName"></td>
    <td class="consultationSet"></td>
    <td class="consultationType"></td>
    <td class="consultationValue"></td>
    <td class="paymentStatus"></td>
    <td><button type="button" class="btn btn-outline-dark updateBookingButton btn-sm">Editar</button></td>
    <td>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-danger cancelBookingButton d-none btn-sm">Confirmar Desmarcação</button>
        <button type="button" class="btn btn-outline-dark confirmCancelBookingsButton btn-sm" data-button-state="delete">
          Desmarcar
        </button>
      </div>
    </td>
  </tr>
</template>
