<h4>Atualizar Agendamento</h4>

<div class="edit-customer-form">
  <div class="mb-3">
    <input type="text" class="form-control" id="id" hidden/>
  </div>

  <div class="mb-3">
    <label for="fullName">Paciente</label>
    <input type="text" class="form-control" id="fullName" readonly />
  </div>

  <div class="mb-3">
    <label for="consultationMoment">Momento</label>
    <input type="text" class="form-control" id="consultationMoment" />
  </div>

  <div class="mb-3">
    <label for="consultationDate">Data</label>
    <input type="text" class="form-control" id="consultationDate" />
  </div>

  <div class="mb-3">
    <label for="consultationTime">Horário</label>
    <input type="text" class="form-control" id="consultationTime" />
  </div>

  <div class="mb-3">
    <label for="consultationSet">Tipo</label>
    <input type="text" class="form-control" id="consultationSet" />
  </div>

  <div class="mb-3">
    <label for="consultationType">Modalidade</label>
    <input type="text" class="form-control" id="consultationType" />
  </div>

  <div class="mb-3">
    <label for="paymentMethod">Pagamento</label>
    <input type="text" class="form-control" id="paymentMethod" />
  </div>

  <div class="mb-3">
    <label for="consultationValue">Valor</label>
    <input type="text" class="form-control" id="consultationValue" />
  </div>

  <button class="btn btn-primary" id="save-changes">Atualizar</button>
  <button class="btn btn-primary" id="cancelButton">Cancelar</button>
</div>

<div class="alert alert-success invisible mt-3" id="save-success-alert" role="alert">Agendamento Atualizado!</div>
